.App {
  text-align: center;
}
.container {
  width: 700px;
  margin: 60px 200px;
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  list-style: none;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(11, 14, 3);
}
.btnSearch {
  font-size: 20px;
  background: blue;
  color: azure;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.inputForm {
  font-size: 20px;
  border: #ace0f9;
  border-radius: 5px;
}
.list {
  list-style: none;
}
